*{
    user-select: none;
}
body,html {
    width: 100%;
    height: 100%;
    padding: 0;
    height: 0;
}
body{
    background-color: black;
    overflow-x: hidden;
}

#gamehandler{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#game{
    height: 720px;
    width: 1200px;
    border: 10px solid white;
}

#backgroundcontainer{
    height: 720px;
    width: 1200px;
    overflow:hidden;
    background-size: 1600px 720px; 
    position: relative;
    
}

#actionboxes{
    height: 720px;
    width: 1600px;
    position: relative;
    left: -200px;
    
}

#imagebackground{
    height: 720px;
    width: 1600px;
    position: absolute;     
   
}

#gamehandler{
    z-index: 100;
}

#leftscrollbutton{
    position: absolute;
    left: 5px;
    background-image: url("fnatiimages/arrow.jpg");
    background-size: 40px 300px;
    background-repeat: no-repeat;
    transform: rotate(180deg);

}

#rightscrollbutton{
    position: absolute;
    right: 5px;
    background-image: url("fnatiimages/arrow.jpg");
    background-size: 40px 300px;
    background-repeat: no-repeat;
}

.scrollbuttons{
    top: 110px;
    width: 40px;
    height: 300px;
    opacity: 0.2;
}



#freddynose{
    position: absolute;
    z-index: 1000;
    height: 6px;
    width: 7px;
    background-color: red;
    top: 237px;
    left: 676px;
    opacity: 0;

}

