*{
    user-select: none;
}
body,html {
    width: 100%;
    height: 100%;
    padding: 0;
    height: 0;
}
body{
    background-color: black;
    overflow-x: hidden;
}

#gamehandler{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#game{
    height: 720px;
    width: 900px;
    border: 10px solid white;
}

#backgroundcontainer{
    height: 720px;
    width: 900px;
    overflow:hidden;
    background-size: 1600px 720px; 
    position: relative;
    
}

#actionboxes{
    height: 720px;
    width: 1600px;
    position: relative;
    left: -325px;
    
}

#imagebackground{
    height: 720px;
    width: 1600px;
    position: absolute;     
   
}

#gamehandler{
    z-index: 100;
}

#leftscrollbutton{
    position: absolute;
    left: 5px;
    background-image: url("fnatiimages/arrow.jpg");
    background-size: 40px 300px;
    background-repeat: no-repeat;
    transform: rotate(180deg);

}

#rightscrollbutton{
    position: absolute;
    right: 5px;
    background-image: url("fnatiimages/arrow.jpg");
    background-size: 40px 300px;
    background-repeat: no-repeat;
}

.scrollbuttons{
    top: 110px;
    width: 40px;
    height: 300px;
    opacity: 0.2;
}

#hallwayactionbox{
    position: absolute;
    left: 416px;
    background-color: red;
    z-index: 1000;
    height: 360px;
    width: 380px;
    top: 137px;
    opacity: 0.1;
}

#freddynose{
    position: absolute;
    z-index: 1000;
    height: 5px;
    width: 5px;
    background-color: red;
    top: 151px;
    left: 110px;
    opacity: 0;

}

